.trash { color:rgb(209, 91, 71); }

.user-list {
	li {
		display: flex;
		border: none;
		border-bottom: 1px lightgray solid;
		margin-bottom: 0;
		&:last-child { border-bottom: none; }

		.user-info {
			flex-grow: 1;
		}
		.trash {
			display: flex;
			align-items: center;
			text-decoration: none;
		}
	}
}


.form-category {

  .col-sm-1 {
    padding-left: 0;
  }

  .bottom-btns {
    margin-top: 30px;
    text-align: center;
  }
}
