<h1 class="page-header">分类管理</h1>

<div class="clearfix">
  <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in category.awesomeThings">
    <li>
      <a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="category.deleteThing(thing)">&times;</button></a>
    </li>
  </ul>
</div>

<form class="thing-form">
  <label>Syncs in realtime across clients</label>
  <p class="input-group">
    <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="category.newThing">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary" ng-click="category.addThing()">Add New</button>
    </span>
  </p>
</form>
