<h1 class="page-header">添加文章</h1>

<p>
这是文章列表，操作说明吖
这是文章列表，操作说明吖
这是文章列表，操作说明吖
这是文章列表，操作说明吖
这是文章列表，操作说明吖
这是文章列表，操作说明吖
这是文章列表，操作说明吖
</p>

<p>
这是文章列表，操作说明吖
这是文章列表，操作说明吖
这是文章列表，操作说明吖
这是文章列表，操作说明吖
这是文章列表，操作说明吖
这是文章列表，操作说明吖
这是文章列表，操作说明吖
</p>


<form class="thing-form">
  <label>Syncs in realtime across clients</label>
  <p class="input-group">
    <input type="text" class="form-control" placeholder="Add a new post here." ng-model="posts.newPost">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary" ng-click="posts.addPost()">Add New</button>
    </span>
  </p>
</form>
